@font-face {
  font-family: 'Messina Sans';
  src: url('../../fonts/MessinaSans-SemiBold.eot');
  src: url('../../fonts/MessinaSans-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/MessinaSans-SemiBold.woff2') format('woff2'),
  url('../../fonts/MessinaSans-SemiBold.woff') format('woff'),
  url('../../fonts/MessinaSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Messina Sans';
  src: url('../../fonts/MessinaSans-Regular.eot');
  src: url('../../fonts/MessinaSans-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/MessinaSans-Regular.woff2') format('woff2'),
  url('../../fonts/MessinaSans-Regular.woff') format('woff'),
  url('../../fonts/MessinaSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Messina Sans';
  src: url('../../fonts/MessinaSans-Book.eot');
  src: url('../../fonts/MessinaSans-Book.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/MessinaSans-Book.woff2') format('woff2'),
  url('../../fonts/MessinaSans-Book.woff') format('woff'),
  url('../../fonts/MessinaSans-Book.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neutrif Pro';
  src: url('../../fonts/NeutrifPro-Regular.eot');
  src: url('../../fonts/NeutrifPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/NeutrifPro-Regular.woff2') format('woff2'),
  url('../../fonts/NeutrifPro-Regular.woff') format('woff'),
  url('../../fonts/NeutrifPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
