@mixin phone {
  @media only screen and (max-width: 900px) {
    @content;
  }

  @media only screen and (max-width: 1030px) and (min-width: 1020px) and (max-height: 1400px) and (min-height: 1300px) {
    @content;
  }

  @media only screen and (max-width: 1400px) and (min-width: 1300px) and (max-height: 1030px) and (min-height: 1020px) {
    @content;
  }
}

@mixin laptop-s {
  @media only screen and (max-width: 1300px) {
    @content;
  }
}

@mixin laptop {
  @media only screen and (max-width: 1400px) {
    @content;
  }
}

@mixin laptop-l {
  @media only screen and (max-width: 1600px) {
    @content;
  }
}

@mixin phone-reverse {
  @media only screen and (min-width: 901px) {
    @content;
  }
}

@mixin windows-laptop {
  @media only screen and (min-width: 1300px) and (max-width: 1400px) {
    @content;
  }
}

%body-text {
  text-decoration: none;
  font-family: $messina;
  color: $black;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.4;

  @include phone {
    font-size: 13px;
  }
}

%kirby-text {
  @extend %body-text;

  & > * {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      text-decoration: none;
      color: $orange;
      position: relative;

      * {
        color: $orange;
      }

      &:after {
        transition: 0.5s;
        height: 1px;
        position: absolute;
        content: '';
        background-color: $orange;
        display: block;
        left: 0;
        bottom: 0;
        width: 0;
      }

      &:hover:after {
        width: 100%;
      }
    }

    b, strong {
      font-weight: bold;
    }

    em {
      font-style: italic;
    }
  }
}

%heading-text {
  font-size: 28px;
  font-weight: 300;
  font-family: $messina;
  letter-spacing: -0.28px;
  line-height: 1.2;

  a:after {
    height: 2px !important;
  }

  @include phone {
    font-size: 20px;
  }
}

%news-heading-text {
  color: $black;
  font-family: $messina;
  font-size: 45px;
  font-weight: 300;
  letter-spacing: -0.91px;

  @include phone {
    font-size: 24px;
  }
}

%bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

%bg-contain {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
