.about {

  &--hero {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0 0 90px;

    @include phone {
      flex-direction: column;
      padding: 0 0 50px;
    }

    &-text {
      @extend %kirby-text;
      @extend %heading-text;
      width: 50%;

      @include phone {
        width: 100%;
      }
    }

    &-contacts {
      width: calc(100% / 3);

      @include phone {
        width: 100%;
        margin-top: 40px;
      }

      &-heading {
        @extend %heading-text;
        margin-bottom: 20px;
      }

      &-item {
        margin-bottom: 15px;

        &:last-child {
          margin-bottom: 0;
        }

        &-field {
          @extend %body-text;
          text-transform: uppercase;
        }

        &-value {
          @extend %kirby-text;

          a {
            @extend %body-text;
            text-decoration: underline;
            color: $black;

            &:after {
              content: none;
            }
          }
        }
      }
    }
  }

  &--gallery {
    padding: 90px 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    @include phone {
      flex-direction: column-reverse;
      padding: 0 0 50px;
    }

    &-text {
      @extend %kirby-text;
      width: calc(100% / 3 - 15px);

      @include phone {
        width: 100%;
        margin-top: 20px;
      }
    }

    &-container {
      width: calc(100% / 3 * 2 - 45px);

      @include phone {
        width: 100%;
      }
    }
  }

  &--awards {
    padding-bottom: 50px;

    @include phone {
      padding-bottom: 30px;
    }

    &-heading {
      @extend %heading-text;
      margin-bottom: 50px;

      @include phone {
        margin-bottom: 30px;
      }
    }

    &-list {
      display: flex;
      flex-flow: row wrap;

      &-item {
        max-width: 200px;
        margin-right: 30px;
        text-decoration: none;
        display: flex;
        flex-flow: column nowrap;

        @include phone {
          max-width: unset;
          width: 100%;
          text-align: center;
          margin: 0 0 50px;
        }

        &:last-child {
          margin-right: 0;
        }

        &-image {
          @extend %bg-contain;
          transition: 0.5s;
          height: 50px;
          width: 100%;
          margin-bottom: 40px;
          transform-origin: center center;

          @include phone {
            margin-bottom: 10px;
          }
        }

        img {
          transition: 0.5s;
          height: auto;
          max-height: 50px;
          width: auto;
          max-width: 100%;
          object-fit: contain;
          object-position: center center;
          margin-bottom: 40px;
          transform-origin: center center;

          @include phone {
            margin-bottom: 10px;
          }
        }

        &-title {
          @extend %body-text;
          text-decoration: none;

          @include phone {
            text-align: center;
          }
        }

        &:hover .about--awards-list-item-title {
          text-decoration: underline;
        }
      }
    }
  }

  &--partnership {
    &-heading {
      @extend %heading-text;
      margin-bottom: 50px;

      @include phone {
        margin-bottom: 30px;
      }
    }

    &-columns {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;

      @include phone {
        flex-direction: column;
      }
    }

    &-column {
      width: calc(100% / 3 - 20px);
      padding-right: 20px;
      display: flex;
      flex-flow: column nowrap;

      @include phone {
        width: 100%;
        padding-right: 0;
        margin-bottom: 30px;
      }

      &-heading {
        @extend %body-text;
        margin-bottom: 20px;
        text-transform: uppercase;
      }

      &-item {
        @extend %body-text;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
