.home {
  .main {
    padding: 0;
  }

  &--hero {
    position: relative;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-subheading {
      @extend %heading-text;
      margin: -105px auto 0;
      text-align: center;
      text-transform: uppercase;

      @include laptop {
        margin-top: -45px;
      }

      @include phone {
        margin-top: 45px;
      }
    }

    &-next-button {
      position: absolute;
      bottom: 60px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &--news {
    margin-bottom: 160px;

    @include phone {
      margin-bottom: 50px;
    }
  }

  &--heading {
    @extend %heading-text;
    text-transform: uppercase;
    margin-bottom: 75px;

    @include phone {
      margin-bottom: 30px;
    }
  }

  &--gallery {
    margin-bottom: 140px;

    @include phone {
      margin-bottom: 80px;
    }

    .gallery--container {
      width: calc(100% / 3 * 2 - 30px);
      margin: 0 auto;

      @include phone {
        width: 100%;
      }
    }

    &-container {
      position: relative;

      @include phone {
        display: flex;
        flex-flow: column-reverse;
      }
    }

    &-info {
      position: absolute;
      top: 0;
      left: 0;
      width: calc(100% / 6 - 15px);

      @include phone {
        width: 100%;
        top: 100%;
      }

      &-item {
        @extend %kirby-text;
        max-width: 100%;
      }
    }
  }
}
