.privacy-policy {
  &--container {
    @extend %kirby-text;
    width: 50%;

    @include laptop {
      width: 75%;
    }

    @include phone {
      width: 100%;
    }

    h1, h2, h3 {
      @extend %heading-text;
    }

    h2 {
      font-size: 24px;

      @include phone {
        font-size: 20px;
      }
    }

    h3 {
      font-size: 20px;

      @include phone {
        font-size: 20px;
      }
    }
  }
}
