.products {
  &--hero-text {
    @extend %kirby-text;
    @extend %heading-text;
    width: 50%;
    margin-bottom: 90px;

    @include phone {
      width: 100%;
      margin-bottom: 50px;
    }
  }

  &--list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}
