.product {
  &--hero-text {
    @extend %kirby-text;
    @extend %heading-text;
    width: 50%;
    margin-bottom: 180px;

    @include phone {
      margin-bottom: 100px;
      width: 100%;
    }
  }

  &--variations-heading {
    @extend %heading-text;
  }

  &--variations-list {
    margin: 90px 0 50px;
    display: flex;
    flex-flow: row wrap;

    &---mobile {
      margin-bottom: 50px;

      .product--accordion-body-inner {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
      }
    }

    @include phone {
      margin: 50px 0 20px;
    }
  }

  &--variations-gallery {
    display: flex;
    flex-flow: row nowrap;
    position: relative;

    @include phone {
      flex-direction: column-reverse;
    }

    &-info-slider {
      width: calc(100% / 3 - 15px);
      margin-right: 30px;

      @include phone {
        width: 100%;
        margin: 50px 0 0;
      }

      &-item {

        &-title {
          @extend %heading-text;
        }

        &-short-title {
          @extend %body-text;
          text-transform: uppercase;
          margin-bottom: 30px;
        }

        &-meta-item {
          margin-bottom: 40px;

          &-field {
            @extend %body-text;
            text-transform: uppercase;
          }

          &-value * {
            @extend %body-text;
          }
        }
      }
    }

    &-slider {
      width: 100%;

      &-container {
        width: calc(100% / 3 - 15px);
        position: relative;

        @include phone {
          width: 100%;
        }

        &:hover {
          @include phone-reverse {
            .product--variations-gallery-slider-item .hidden {
              opacity: 1;
            }
          }
        }
      }

      @include phone {
        width: 100%;
      }

      &-item {
        height: 100%;
        position: relative;

        &-image {
          @extend %bg-cover;
          width: 100%;
          height: 0;
          padding-top: 150%;

          &.hidden {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding-top: unset;
            opacity: 0;
            object-fit: cover;
            transition: .5s;
          }
        }

        &.hover {
          @include phone {
            .hidden {
              opacity: 1;
            }
          }
        }
      }

      &.slick-dotted.slick-slider {
        margin-bottom: 0;
      }

      .slick-dots {
        bottom: unset;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: calc(100vw - 60px);

        li {
          margin: 0;

          button {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 2.5px;

            &:before {
              content: '';
              opacity: 1;
              display: block;
              position: static;
              top: unset;
              left: unset;
              width: 7px;
              height: 7px;
              border-radius: 50% 50%;
              background-color: $black;
            }
          }

          &.slick-active button:before {
            background-color: $orange;
            opacity: 1;
          }
        }
      }
    }

    &-left, &-right {
      position: absolute;
      top: 0;
      bottom: 5px;
      width: 50%;

      @include phone {
        display: none;
      }
    }

    &-left {
      left: 0;
      cursor: url("../../icons/left.png") 30 30, pointer; /* Legacy */
      cursor: url("../../icons/left.svg") 30 30, pointer; /* FF */
      cursor: -webkit-image-set(url("../../icons/left.png") 1x, url("../../icons/left@2x.png") 2x) 30 30, pointer; /* Webkit */
    }

    &-right {
      right: 0;
      cursor: url("../../icons/right.png") 30 30, pointer; /* Legacy */
      cursor: url("../../icons/right.svg") 30 30, pointer; /* FF */
      cursor: -webkit-image-set(url("../../icons/right.png") 1x, url("../../icons/right@2x.png") 2x) 30 30, pointer; /* Webkit */
    }

    &-request {
      @extend %body-text;
      position: absolute;
      left: 0;
      bottom: 0;
      color: $orange;
      cursor: pointer;
      text-transform: uppercase;

      &:after {
        transition: 0.5s;
        height: 1px;
        position: absolute;
        content: '';
        background-color: $orange;
        display: block;
        left: 0;
        bottom: 0;
        width: 0;
      }

      &:hover {
        &:after {
          width: 100%;
        }
      }
    }
  }

  &--accordion {
    border-bottom: 3px solid $black;

    @include phone {
      border-bottom: 2px solid $black;
    }

    &-list {
      margin: 190px 0 0;

      @include phone {
        margin: 100px 0 0;
      }
    }

    &-head {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      &-title {
        @extend %heading-text;
        text-transform: uppercase;
        padding: 25px 40px 25px 0;

        @include phone {
          padding: 20px 20px 20px 0;
        }
      }

      &-icon .static {
        transition: 1s;
      }
    }

    &-body {
      transition: 1s;
      overflow: hidden;
      height: 0;

      &-inner {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        padding: 50px 0 85px;
        position: relative;

        @include phone {
          padding: 20px 0 40px;
        }

        @include phone {
          flex-direction: column;
        }

        .gallery--container {
          margin: 0 auto;
          width: calc(100% / 2 - 30px);

          @include phone {
            width: 100%;
          }
        }

        &---downloads {
          padding-bottom: 55px;

          @include phone {
            padding-bottom: 20px;
          }
        }
      }
    }

    &-column {
      width: calc(50% - 15px);

      @include phone {
        width: 100%;
      }
    }

    &-request {
      &-left {
        width: calc(100% / 3 * 2);
        margin-top: 15px;

        @include phone {
          width: 100%;
          margin-top: 0;
        }

        & > * {
          @extend %body-text;
          margin-bottom: 20px;

          b, strong {
            font-weight: bold;
          }

          a {
            color: $orange;
            text-decoration: none;
            position: relative;

            &:after {
              transition: 0.5s;
              height: 1px;
              position: absolute;
              content: '';
              background-color: $orange;
              display: block;
              left: 0;
              bottom: 0;
              width: 0;
            }

            &:hover:after {
              width: 100%;
            }
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      &-heading {
        @extend %heading-text;
        margin-bottom: 20px;
      }
    }

    &-sample {
      &-left-text {
        width: calc(100% / 3 * 2);
        margin-top: 15px;

        @include phone {
          width: 100%;
          margin-top: 0;
        }

        & > * {
          @extend %body-text;
          margin-bottom: 20px;

          b, strong {
            font-weight: bold;
          }

          a {
            color: $orange;
            text-decoration: none;
            position: relative;

            &:after {
              transition: 0.5s;
              height: 1px;
              position: absolute;
              content: '';
              background-color: $orange;
              display: block;
              left: 0;
              bottom: 0;
              width: 0;
            }

            &:hover:after {
              width: 100%;
            }
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      &-right {
        @include phone {
          margin-top: 20px;
        }

        &-heading {
          @extend %heading-text;
          margin-bottom: 20px;
        }

        &-order {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;

          p {
            @extend %heading-text;
            text-transform: uppercase;
            font-size: 22px;
          }

          svg {
            margin-left: 20px;
          }
        }
      }
    }

    &-download-item {
      width: calc((100% - 60px) / 3);
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      margin-bottom: 30px;
      text-decoration: none;

      @include phone {
        width: 100%;
      }

      svg {
        margin-right: 20px;
      }

      p {
        @extend %body-text;
        font-size: 22px;
      }
    }

    &-gallery {
      &-info {
        position: absolute;
        top: 50px;
        left: 0;
        width: calc(100% / 4 - 15px);

        @include phone {
          width: 100%;
          position: static;
          margin-bottom: 30px;
        }

        &-item {
          max-width: 100%;

          & > * {
            @extend %body-text;
            margin-bottom: 20px;

            &:last-child {
              margin-bottom: 0;
            }

            b, strong {
              font-weight: bold;
            }

            a {
              color: $orange;
              text-decoration: none;
              position: relative;

              &:after {
                transition: 0.5s;
                height: 1px;
                position: absolute;
                content: '';
                background-color: $orange;
                display: block;
                left: 0;
                bottom: 0;
                width: 0;
              }

              &:hover:after {
                width: 100%;
              }
            }
          }
        }
      }
    }

    &.open {
      .product--accordion-head .product--accordion-head-icon .static {
        transform: rotate(45deg);
      }
    }
  }

  .product-form {
    width: calc(100% / 3 * 2);

    @include laptop {
      width: calc(100% - 60px);
    }

    input:not([type=radio]):not([type=checkbox]), textarea {
      @extend %body-text;
      padding: 15px 0;
      background: none;
      border: none;
      border-bottom: 3px solid #a1a1a1;
      resize: none;
      appearance: none;
      width: 100%;
      outline: none !important;
      transition: 0.5s;
      margin: 0 0 5px;
      border-radius: 0;

      &:focus, &:active {
        outline: none !important;
        border-color: $black;
        color: $black;
      }

      &::placeholder {
        color: #a1a1a1;
      }

      &.invalid {
        border-color: $orange;
        color: $orange;

        &::placeholder {
          color: $orange;
        }
      }
    }

    .client-type {
      display: flex;
      flex-flow: row nowrap;

      & > * {
        width: 50%;
      }
    }

    .checkbox {
      @extend %body-text;
      user-select: none;
      cursor: pointer;
      margin: 10px 0;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;

      input {
        opacity: 0;
        appearance: none;
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
      }

      .bubble {
        width: 25px;
        height: 25px;
        border-radius: 50% 50%;
        border: 2px solid $black;
        margin-right: 10px;
        display: flex;
        flex-shrink: 0;
        padding: 0;
        justify-content: center;
        align-items: center;

        @include phone {
          width: 20px;
          height: 20px;
        }

        &:after {
          display: block;
          content: '';
          opacity: 0;
          transition: 0.3s;
          background-color: $orange;
          border-radius: 50% 50%;
          width: 15px;
          height: 15px;

          @include phone {
            width: 12px;
            height: 12px;
          }
        }
      }

      input:checked + .bubble:after {
        opacity: 1;
      }
    }

    .shipping-fields {
      overflow: hidden;
      max-height: 0;
      transition: .5s;

      &.open {
        max-height: 300px;
      }
    }

    .business-fields {
      overflow: hidden;
      max-height: 0;
      transition: .5s;

      &.open {
        max-height: 300px;

        &:last-of-type {
          max-height: 300px;
        }
      }
    }

    .privacy-policy {
      @extend %body-text;
      margin-top: 15px;
      margin-bottom: 20px;

      a {
        color: $orange;
        text-decoration: none;
        position: relative;

        &:after {
          transition: 0.5s;
          height: 1px;
          position: absolute;
          content: '';
          background-color: $orange;
          display: block;
          left: 0;
          bottom: 0;
          width: 0;
        }

        &:hover:after {
          width: 100%;
        }
      }
    }

    button {
      @extend %heading-text;
      font-size: 22px;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      appearance: none;
      padding: 0;
      text-transform: uppercase;
      margin: 0 0 40px;
      outline: none;
      background: none;
      cursor: pointer;
      border: none;

      svg {
        margin-left: 20px;
      }
    }

    .errors {
      p {
        display: none;
        @extend %body-text;
        color: $orange;
        margin-bottom: 5px;
      }
    }

    &-success {
      @extend %heading-text;
      font-size: 22px;
      margin-top: 80px;
      display: none;
      width: calc(100% / 3 * 2);

      @include phone {
        margin-top: 20px;
      }
    }
  }
}
