.animated-heading {
  height: 530px;
  max-width: 90%;
  margin: 0 auto;
  display: block;
  overflow: visible;
  padding: 150px;

  @include laptop {
    padding: 90px;
    height: 410px;
  }

  @include phone {
    padding: 0;
    height: auto;
    width: 100%;
  }

  & > * {
    transform-origin: center center;
    transition: 0.1s;
  }
}


.animated-icon {
  width: 60px;
  height: 60px;
  display: block;
  overflow: visible;
  cursor: pointer;
  flex-shrink: 0;

  @include phone {
    width: 40px;
    height: 40px;
  }

  & > * {
    transform-origin: center center;
    transition: 1s;
  }
}
