.burger {
  overflow: hidden;
  margin-left: auto;

  @include phone {
    overflow: visible;
  }

  &--list {
    transform: translateX(100%);
    transition: 0.75s;
    padding-right: 20px;

    @include phone {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      padding: 15px;
      display: flex;
      flex-flow: column nowrap;
      background-color: $white;
      transform: translateY(-110%);
    }

    &-item {
      @extend %heading-text;
      text-transform: uppercase;
      padding: 0 25px;
      transition: 0.5s;
      text-decoration: none;
      position: relative;

      &:after {
        transition: 0.5s;
        height: 2px;
        position: absolute;
        content: '';
        background-color: $black;
        display: block;
        left: 25px;
        bottom: 0;
        width: 0;

        @include phone {
          content: none;
        }
      }

      &.open {
        color: $orange;

        &:after {
          background-color: $orange;
        }
      }

      &:hover {
        color: $orange;

        &:after {
          width: calc(100% - 50px);
          background-color: $orange;

          @include phone {
            width: 100%;
          }
        }
      }

      @include phone {
        padding: 15px 0;
        margin-right: auto;
      }
    }
  }

  &.open {
    .burger--list {
      transform: translateX(0);
    }
  }

  &--button {
    position: relative;
    width: 44px;
    height: 25px;
    cursor: pointer;

    @include phone {
      position: fixed;
      top: 20px;
      right: 15px;
      width: 25px;
      height: 15px;
    }

    i {
      position: absolute;
      display: block;
      width: 100%;
      height: 3px;
      background-color: $black;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: 0.5s;

      @include phone {
        height: 2px;
      }

      &:first-child {
        transform: translate(-50%, 0);
        top: 0;
      }

      &:last-child {
        transform: translate(-50%, -100%);
        top: 100%;
      }
    }

    &.open i {
      &:first-child {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &:nth-child(2) {
        transform: translate(-50%, -50%) scaleX(0);
      }

      &:last-child {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }
}
