.footer {
  padding: 45px 0;
  background-color: $yellow;
  margin-top: auto;

  @include phone {
    padding: 30px 0;
  }

  &--top {
    margin-bottom: 200px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    @include phone {
      margin-bottom: 80px;
    }
  }

  &--ig {
    &-heading {
      margin-bottom: 8px;
      @extend %body-text;
    }

    &-link {
      @extend %heading-text;
      text-transform: uppercase;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      @include phone {
        font-size: 20px;
      }
    }
  }

  &--bottom {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 50%;

    @include phone {
      width: 100%;
      flex-direction: column;
    }
  }

  &--copyright,
  &--privacy-link {
    @extend %body-text;
  }

  &--privacy-link {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &--copyright {
    transform: translateX(50%);

    @include phone {
      transform: unset;
      margin-top: 10px;
    }
  }
}
