.gallery {
  width: 100%;
  position: relative;

  &--item {
    &-image {
      width: 100%;
      @extend %bg-contain;
      background-position: top center;
      padding-top: 56.25%;
      height: 0;

      &---fill {
        padding-top: 0;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center center;

        &-image {
          width: 100%;
          height: auto;
        }
      }

      &---adaptive {
        padding-top: 0;
        height: auto;
      }
    }
  }

  &--container {
    position: relative;
  }

  &--left, &--right {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;

    @include phone {
      display: none;
    }
  }

  &--left {
    left: 0;
    cursor: url("../../icons/left.png") 30 30, pointer; /* Legacy */
    cursor: url("../../icons/left.svg") 30 30, pointer; /* FF */
    cursor: -webkit-image-set(url("../../icons/left.png") 1x, url("../../icons/left@2x.png") 2x) 30 30, pointer; /* Webkit */
  }

  &--right {
    right: 0;
    cursor: url("../../icons/right.png") 30 30, pointer; /* Legacy */
    cursor: url("../../icons/right.svg") 30 30, pointer; /* FF */
    cursor: -webkit-image-set(url("../../icons/right.png") 1x, url("../../icons/right@2x.png") 2x) 30 30, pointer; /* Webkit */
  }

  &--item {
    img {
      width: 100%;
      height: auto;
    }
  }

  &.slick-dotted.slick-slider {
    margin-bottom: 0;

    @include phone {
      margin-bottom: 50px;
    }
  }

  .slick-dots {
    bottom: unset;
    top: 100%;

    li {
      margin: 0;

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2.5px;

        &:before {
          content: '';
          opacity: 1;
          display: block;
          position: static;
          top: unset;
          left: unset;
          width: 7px;
          height: 7px;
          border-radius: 50% 50%;
          background-color: $black;
        }
      }

      &.slick-active button:before {
        background-color: $orange;
        opacity: 1;
      }
    }
  }

  &-fill {
    height: 100%;

    .slick-track,
    .slick-list,
    .slick-slider,
    .slick-slide,
    .slick-slide > div,
    .gallery--item {
      height: 100% !important;

      @include phone {
        height: fit-content !important;
      }
    }
  }
}
