.header {
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;

  &---absolute {
    position: absolute;
    z-index: 100;
  }

  .container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  &--title {
    @extend %heading-text;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    margin-right: auto;
  }

  @include phone-reverse {
    &---homepage {
      .burger--list {
        padding-right: 0;
        transform: translateX(0);
      }

      .burger--button {
        display: none;
      }
    }
  }
}
