.news-list-item {
  border-bottom: 3px solid #333333;

  @include phone {
    border-bottom: 2px solid #333333;
  }

  &--head {
    padding: 15px 0 25px;
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    &-container {
      margin-right: 40px;

      @include phone {
        margin-right: 20px;
      }
    }
  }

  &--date {
    text-transform: uppercase;
    letter-spacing: 0.68px;
    margin-bottom: 5px;
    @extend %body-text;
  }

  &--title {
    @extend %news-heading-text;
  }

  &--expand .static {
    transition: 0.5s;
  }

  &--body {
    height: 0;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    transition: 1s;

    @include phone {
      flex-direction: column;
      justify-content: unset;
    }

    &-column {
      padding-top: 20px;
      width: calc(50% - 15px);
      padding-bottom: 70px;
      margin-bottom: auto;

      @include phone {
        width: 100%;
        padding-bottom: 20px;
        margin-bottom: 0;

        &:last-child {
          padding-bottom: 30px;
        }
      }
    }
  }

  &--content {
    @extend %kirby-text;

    @include phone {
      padding-top: 15px;
    }
  }

  &--gallery-item {
    @extend %bg-cover;
  }

  &.open {
    .news-list-item--expand .static {
      transform: rotate(45deg);
    }
  }
}
