.product-list-item {
  width: calc(50% - 15px);
  text-decoration: none;
  margin-bottom: 30px;

  &:nth-last-child(1),
  &:nth-last-child(2) {
    margin-bottom: 0;
  }

  @include phone {
    width: 100%;

    &:nth-last-child(2) {
      margin-bottom: 30px;
    }
  }

  &--image {
    width: 100%;
    margin-bottom: 15px;
    height: fit-content;

    img {
      height: auto;
      width: 100%;
    }
  }

  &--title {
    @extend %heading-text;
    margin-bottom: 10px;
  }

  &--short-description {
    @extend %body-text
  }
}
