.research-block {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  & > * {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &---large-text {
    @extend %kirby-text;
    @extend %heading-text;
  }

  &---small-text {
    @extend %kirby-text;
    @extend %body-text;
  }

  &---footnote {
    flex-shrink: 0;
    flex-grow: 0;

    & > * {
      text-transform: uppercase;
      color: $black;
      font-family: $messina;
      font-size: 12px;
      letter-spacing: 0.48px;

      b, strong {
        font-weight: bold;
      }
    }
  }

  &---image {
    height: auto;
    width: 100%;
    flex-shrink: 1;

    img {
      width: 100%;
      max-width: 100%;
      height: auto;
      max-height: 100%;
      object-fit: contain;
      object-position: top center;

      @include phone {
        width: 100%;
        height: auto;
        display: block;
      }
    }
  }

  &---image-fill {
    height: 100%;
    width: 100%;
    flex-shrink: 1;

    @include phone {
      width: 100%;
      height: auto;
    }

    .desktop-image {
      width: 100%;
      height: 100%;
      @extend %bg-cover;
      background-position: center center;

      @include phone {
        display: none;
      }
    }

    img {
      width: auto;
      display: none;
      max-width: 100%;
      height: auto;
      object-fit: cover;
      object-position: top center;

      @include phone {
        width: 100%;
        display: block;
      }
    }
  }

  &---gallery {
    margin-bottom: 20px;
    flex-shrink: 1;
    flex-grow: 0;

    @include phone {
      margin-bottom: 0;
    }

    .gallery.slick-dotted.slick-slider {
      margin-bottom: 20px;

      @include phone {
        margin-bottom: 24px;
      }
    }
  }

  &---gallery-fill {
    margin-bottom: 40px;
    flex-shrink: 1;
    flex-grow: 0;
    height: 100%;

    @include phone {
      margin-bottom: 0;
    }

    .gallery.slick-dotted.slick-slider {
      margin-bottom: 20px;

      @include phone {
        margin-bottom: 24px;
      }
    }
  }

  &---link, &---download {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    text-decoration: none;

    svg {
      margin-right: 20px;
      margin-bottom: 0;
    }

    p {
      @extend %heading-text;
      font-size: 22px;
      text-transform: uppercase;
    }
  }

  &---video {
    height: 100%;
    width: 100%;
    flex-shrink: 1;

    @include phone {
      width: 100%;
      height: auto;
    }

    video {
      width: 100%;
      max-width: 100%;
      height: auto;
      object-fit: cover;
      object-position: top center;

      &:focus {
        outline: none;
      }
    }
  }
}
