.research {
  height: 100vh;
  position: relative;

  &--head {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .animated-heading {
      cursor: url("../../icons/right-orange.png") 30 30, pointer; /* Legacy */
      cursor: url("../../icons/right-orange.svg") 30 30, pointer; /* FF */
      cursor: -webkit-image-set(url("../../icons/right-orange.png") 1x, url("../../icons/right-orange@2x.png") 2x) 30 30, pointer; /* Webkit */
    }

    @include phone {
      cursor: default;
    }
  }

  &--mobile-button {
    @extend %heading-text;
    display: none;

    i {
      @extend %bg-contain;
      margin-left: 20px;
      width: 40px;
      height: 40px;
      display: block;
      background-image: url('../../icons/right-orange.svg');
    }

    @include phone {
      display: flex;
      align-items: center;
      color: $orange;
      text-transform: uppercase;
      margin-top: 20px;
    }
  }

  &--body {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;
    width: 100vw;
    transition: 1s transform;
    transform: translateX(100vw);
    z-index: 10;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    @include phone {
      overflow-y: scroll;
      transform: translateY(110vh);
      height: 100vh;
      height: calc(var(--vh, 1vh) * 100);
    }

    &-scroll-container {
      height: 100%;
      display: flex;
      flex-flow: row nowrap;

      @include phone {
        flex-direction: column;
        width: 100%;
        height: fit-content;
      }
    }

    &.open {
      transform: translateX(0);
    }
  }

  &--header {
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
    display: none;

    .container {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      position: relative;
    }
  }

  &--progress {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    transition: 0.5s;
    overflow: hidden;

    @include phone-reverse {
      position: absolute;
      top: 0;
      left: 15px;
      bottom: 0;
      right: 99px;
      justify-content: space-between;
    }

    @include phone {
      display: none;
    }

    &-bar {
      position: fixed;
      top: 0;
      left: 0;
      height: 3px;
      background-color: $orange;
      display: block;
    }

    &-item {
      @extend %body-text;
      padding: 0 25px;
      white-space: nowrap;
      text-transform: uppercase;
      cursor: pointer;
      transition: 0.5s;

      @include phone-reverse {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &.open {
        color: $orange;
      }
    }

    &.burger-open {
      transform: translateX(-150%);
    }
  }

  &--section {
    display: inline-flex;
    height: 100vh;
    width: fit-content;
    padding: 120px 20px 0;

    @include windows-laptop {
      padding-top: 73px;
    }

    &-container {
      display: flex;
      flex-flow: row nowrap;
      width: 100%;
      height: 50vw;
      max-height: calc(100% - 60px);

      @include windows-laptop {
        max-height: calc(100% - 20px);
      }

      @include phone {
        height: auto;
        flex-direction: column;
      }
    }

    @include phone {
      height: auto;
      width: 100vw !important;
      padding: 15px 15px 0;

      &:first-child {
        padding-top: 70px;
      }
    }

    &:first-child {
      .research--section-container {
        @include phone {
          padding-top: 0;
        }
      }
    }

    &:nth-child(2n - 1) {
      background-color: $white;
    }

    &:nth-child(2n) {
      background-color: $yellow;
    }

    &---end {
      flex-shrink: 0;
      width: 80vw;

      .research--section-container {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      @include phone {
        height: 60vh;
      }

      .animated-heading {
        width: 80%;
        cursor: url("../../icons/right-orange.png") 30 30, pointer; /* Legacy */
        cursor: url("../../icons/right-orange.svg") 30 30, pointer; /* FF */
        cursor: -webkit-image-set(url("../../icons/right-orange.png") 1x, url("../../icons/right-orange@2x.png") 2x) 30 30, pointer; /* Webkit */
        margin-bottom: 60px;

        @include phone {
          width: 90%;
          margin-bottom: 0;
        }
      }
    }
  }

  &--column {
    white-space: normal;
    padding: 0 20px;
    display: flex;
    flex-flow: column nowrap;

    @include phone {
      padding: 0 0 20px;
      width: 100% !important;
    }
  }

  &--back {
    position: sticky;
    bottom: 60px;
    left: 40px;

    @include windows-laptop {
      bottom: 20px;
    }

    @include phone {
      bottom: unset;
      position: absolute;
      top: 15px;
      left: 15px;
      z-index: 200;
    }
  }
}

#research-cursor-text,
#next-research-cursor-text {
  @extend %heading-text;
  backface-visibility: hidden;
  pointer-events: none;
  position: fixed;
  display: none;
  transform: translate(-100%, -50%);
  color: $orange;
  text-transform: uppercase;
  z-index: 500;
  white-space: nowrap;

  //@media only screen
  //and (min-width: 1024px)
  //and (max-height: 1366px)
  //and (-webkit-min-device-pixel-ratio: 1.5) {
  //  display: none !important;
  //}

  @media only screen
  and (min-width: 1024px)
  and (max-width: 1200px)
  and (max-height: 1366px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1.5) {
    display: none !important;
  }

  /* Landscape */
  @media only screen
  and (min-width: 1024px)
  and (max-width: 1200px)
  and (max-height: 1366px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1.5) {
    display: none !important;
  }

  @include phone {
    display: none !important;
  }
}
