.variation-grid-item {
  margin-bottom: 40px;
  padding: 0 25px;
  cursor: pointer;

  @include phone {
    padding: 0 10px;
    margin-bottom: 20px;
  }

  &--image {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
  }

  &--title {
    @extend %body-text;
    position: relative;
    display: inline-block;
    transition: 0.5s;

    &:after {
      transition: 0.5s;
      height: 1px;
      position: absolute;
      content: '';
      background-color: $black;
      display: block;
      left: 0;
      bottom: 0;
      width: 0;
    }
  }

  &:hover {
    .variation-grid-item--title {
      color: $orange;

      &:after {
        background-color: $orange;
        width: 100%;
      }
    }
  }
}
