@import "helpers/variables";
@import "helpers/mixins";

html body * {
  color: $black;
  font-family: $messina;
  line-height: 1.2;
}

body {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

body, html {
  scroll-behavior: smooth;
}

.no-scroll {
  overflow-y: hidden;
}

.main {
  padding: 150px 0;

  @include phone {
    padding: 80px 0;
  }
}

.container {
  padding: 0 30px;
  width: 100%;
  margin: 0 auto;

  @include phone {
    padding: 0 15px;
  }
}

.mobile-only {
  @include phone-reverse {
    display: none !important;
  }
}

.desktop-only {
  @include phone {
    display: none !important;
  }
}


.cookies {
  position: fixed;
  bottom: 40px;
  right: 60px;
  padding: 20px 60px 20px 20px;
  max-width: 380px;
  background-color: $yellow;
  display: none;

  @include phone {
    bottom: 20px;
    right: 20px;
    left: 20px;
    max-width: unset;
  }

  &--close {
    position: absolute;
    top: 18px;
    right: 18px;
    width: 30px;
    height: 30px;
    cursor: pointer;

    &:after, &:before {
      width: 100%;
      height: 2px;
      background-color: $black;
      position: absolute;
      top: 50%;
      left: 50%;
      transform-origin: center center;
      content: '';
      display: block;
    }

    &:after {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &:before {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  &--content {

    * {

    }

    b, strong {
      font-weight: bold;
    }
  }
}
